:root {
    --orange-color: #f76f53;
    --black-color: #252525;
    --white-color: #ededed;
    --cream-color: #d1cfc0;
    --grey-color: #4f4f51;
    --hover-orange: #d05b3a;
    --hover-dark: #4f4f51;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "Junicode";
    src: url("assets/font/junicode.regular.ttf");
}

@font-face {
    font-family: "Junicode italic";
    src: url("assets/font/junicode.italic.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: var(--black-color);
    scroll-behavior: smooth;
    padding-top: 36px;
}

section {
    margin-top: 100px;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

.btnSignIn {
    border-radius: 10px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-top: 12px;
    color: #d1cfc0;
    font-weight: 600;
    font-size: 18px;
    background: transparent;
    border-style: solid;
    border-color: #797979;
}

.btnSignIn:hover {
    background: var(--hover-dark);
}

.btnSignUp {
    border-radius: 10px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-top: 12px;
    color: #ededed;
    font-weight: 600;
    font-size: 18px;
    background: var(--orange-color);
}

.btnSignUp:hover {
    background: #d05b3a;
}

header {
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 10px;
    z-index: 100;
    padding: 20px 40px;
    background: var(--black-color);
}

nav::before {
    content: "";
    position: absolute;
    top: -36px;
    left: 0;
    width: 100%;
    height: 36px;
    background: var(--black-color);
    z-index: -1;
}

nav .logo {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #ededed;
}

nav .logo span {
    color: #f76f53;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
    margin: 0;
}

nav ul li {
    align-items: center;
}

nav .opsi {
    gap: 50px;
}

nav ul li a {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 16px;
    font-weight: medium;
    text-decoration: none;
    color: #bababa;
}

.hero-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.hero-section .left .open-project .content p {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 32px;
    border: 1px solid #797979;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 50px;
    opacity: 50%;
}

.hero-section .left .open-project .content p img {
    padding-right: 12px;
}

.hero-section .left h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 40px;
    font-weight: SemiBold;
    text-decoration: none;
    color: #ededed;
    margin-bottom: 0;
    margin-top: 0;
}

.hero-section .left h1 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 128px;
    font-weight: SemiBold;
    text-decoration: none;
    color: #ededed;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-section .left h1 span {
    color: #f76f53;
}

.hero-section .left p {
    font-family: "Junicode";
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    color: #ededed;
    margin-top: 0;
    margin-bottom: 41px;
}

.hero-section .right {
    width: 364px;
    position: relative;
    background: #a8a698;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 75px;
}
.hero-section .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.hero-section .buttons {
    display: flex;
    gap: 25px;
}

.hero-section .buttons .btnStarted {
    display: inline-flex;
    border-radius: 10px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-top: 12px;
    color: #ededed;
    font-weight: 600;
    font-size: 18px;
    background: var(--orange-color);
    text-decoration: none;
    align-items: center;
    justify-items: center;
}

.hero-section .buttons .btnStarted:hover {
    background: var(--hover-orange);
}

.hero-section .buttons img {
    padding-left: 12px;
}

.hero-section .buttons .btnAnalytics {
    border-radius: 10px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-top: 12px;
    color: #d1cfc0;
    font-weight: 600;
    font-size: 18px;
    background: transparent;
    text-decoration: none;
    border-style: solid;
    border-color: #797979;
}

.hero-section .buttons .btnAnalytics:hover {
    background: var(--hover-dark);
}

/* style about section */
.container1 {
    height: 100vh;
    width: 100%;
}

.container1 .about {
    text-align: center;
}
.container1 .about h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 41px;
}
.container1 .about h2 span {
    font-family: "Junicode Italic";
    font-weight: 400;
    font-style: italic;
    color: #f76f53;
}

.container1 .about .content {
    align-items: center;
    text-align: center;
    max-width: 651px;
    margin: 0 auto;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    font-style: regular;
    text-decoration: none;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 41px;
    line-height: 150%;
}

.container1 .about .bungkus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 40px;
}

.container1 .about .bungkus h2 {
    color: #f76f53;
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 8px;
}
.container1 .about .bungkus p {
    color: #ededed;
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.container1 .about a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-top: 12px;
    color: #ededed;
    font-weight: 600;
    font-size: 18px;
    background: var(--orange-color);
    text-decoration: none;
}

.container1 .about a:hover {
    background: var(--hover-orange);
}

.container1 .about a img {
    padding-left: 12px;
}

/* features */
.features {
    text-align: center;
    margin-top: 100px;
}

.features .services-card {
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 19px;
    padding-bottom: 40px;
}

.features .service {
    position: relative;
    border-radius: 15px;
    width: 380px;
    height: 245px;
    overflow: hidden;
}

.hidden {
    display: none;
}

.hidden.active {
    display: flex;
}

.features .service img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.features .wrapperService h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 48px;
    font-weight: 500;
    font-style: medium;
    line-height: 100%;
    text-decoration: none;
    color: #f76f53;
    margin-bottom: 40px;
}

.features .wrapperService span {
    color: #ededed;
    font-weight: 400;
}

.features .wrapperService p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--black-color);
    font-weight: 400;
    font-size: 32px;
    font-style: normal;
    line-height: 100%;
    margin: 0;
    z-index: 2;
}

.features .service::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#d9d9d94d 30%, #4f4f51);
    z-index: 1;
    pointer-events: none;
    border-radius: 15px;
}

.features .wrapperService a {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    border-radius: 10px;
    padding: 10px 16px;
    color: #ededed;
    font-weight: 600;
    font-size: 18px;
    background: var(--orange-color);
    text-decoration: none;
    margin-top: 20px;
}

.features .wrapperService a:hover {
    background: var(--hover-orange);
}

.features .wrapperService a img {
    padding-left: 12px;
}

/* portofolio */
.portofolio {
    margin: 41px;
    margin-top: 100px;
}
.portofolio h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
    color: #ededed;
}

.portofolio span {
    color: #f76f53;
    font-weight: 400;
    font-style: italic;
    font-family: "Junicode Italic";
}

.portofolio .portofolio-buttons {
    display: flex;
    gap: 18px;
}

.portofolio .portofolio-buttons .btnSee {
    border-radius: 10px;
    padding: 10px 16px;
    color: #ededed;
    font-weight: 600;
    font-size: 18px;
    background: var(--orange-color);
    text-decoration: none;
}

.portofolio .portofolio-buttons .btnSee:hover {
    background: var(--hover-orange);
}

.portofolio .portofolio-buttons .btnContact {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    border-radius: 10px;
    padding: 10px 16px;
    color: var(--grey-color);
    font-weight: 600;
    font-size: 18px;
    background: var(--cream-color);
    text-decoration: none;
}

.portofolio .portofolio-buttons .btnContact:hover {
    background: var(--white-color);
}

.portofolio .portofolio-buttons a img {
    padding-left: 12px;
    fill: currentColor;
}

.portofolio-cards {
    display: grid;
    overflow-x: auto;
    gap: 0;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 20px;
    padding-bottom: 0;
}

.top {
    display: flex;
    gap: 20px;
    margin-bottom: 0;
    width: max-content;
}

.bottom {
    display: flex;
    gap: 20px;
    margin-top: 0;
    grid-row: 2;
    width: max-content;
    margin-bottom: 20px;
}

.portofolio-card {
    position: relative;
    border-radius: 32px;
    overflow: hidden;
    flex-shrink: 0;
}

.top .portofolio-card {
    width: 346px;
    height: 264px;
    display: block;
}

.bottom .portofolio-card {
    width: 487px;
    height: 320px;
}

.portofolio-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.portofolio-card p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #252525;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    z-index: 2;
}

.portofolio-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#d9d9d94d 30%, #4f4f51);
    z-index: 1;
    pointer-events: none;
}

/* testimoni */
.testimonial {
    color: #ededed;
    margin-top: 100px;
    padding: 40px 20px;
    text-align: center;
}

.testimonial h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
    color: #ededed;
    margin-bottom: 60px;
}

.testimonial .they {
    font-family: "Junicode Italic";
    font-style: italic;
    color: #f76f53;
}

.testimonial h2 .FE {
    color: #f76f53;
}

.testi {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.testi .btn-nav {
    width: 36px;
    height: 36px;
    border-radius: 2px;
    background: var(--orange-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.testi .btn-nav:hover {
    background: var(--hover-orange);
}

.testi .btn-nav img {
    width: 5px;
    height: 10px;
}

.testi .card {
    display: flex;
    background: #d1cfc0;
    border-radius: 8px;
    overflow: hidden;
    max-width: 860px;
    width: 100%;
    min-height: 364px;
}

.testi .leftCard {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.testi .leftCard .profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 24px;
    background: #ffffff;
    padding: 10px;
}

.testi .leftCard p {
    font-family: Plus Jakarta Sans;
    max-width: 297px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #2d2d2d;
    margin-bottom: 24px;
}

.testi .leftCard h3 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #2d2d2d;
    margin: 0;
    margin-bottom: 4px;
}

.testi .leftCard h4 {
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    color: #5a5a5a;
    margin: 0;
}

.testi .rightCard {
    width: 364px;
    position: relative;
    background: #a8a698;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.testi .rightCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.contact {
    background-color: var(--black-color);
    padding: 60px 0;
}

.pembatas {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-content .left {
    flex-basis: 30%;
    padding-right: 110px;
    padding-left: 20px;
}

.contact-content h2 {
    font-size: 48px;
    font-weight: 400;
    font-family: "Bricolage Grotesque", sans-serif;
    margin-top: 0;
    color: #ffffff;
}

.contact-content .right {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 146px;
}

.contact-content .name {
    display: flex;
    gap: 20px;
}

.contact-content .First-name {
    flex-grow: 1;
    flex-basis: 0;
}

.contact-content .Last-name {
    flex-grow: 1;
    flex-basis: 0;
}

.contact-content .email {
    width: 100%;
}

.contact-content .Message {
    width: 100%;
}

.contact-content p {
    font-size: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
    color: #ffffff;
    margin: 0 0 8px 0;
    font-weight: 400;
}

.contact-content input[type="text"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: #4f4f51;
    color: var(--text-color);
    font-size: 16px;
    box-sizing: border-box;
}

.contact-content input[type="email"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: #4f4f51;
    color: var(--text-color);
    font-size: 16px;
    box-sizing: border-box;
}

.contact-content input::placeholder {
    color: #ffffff;
    opacity: 50%;
}

.contact-content .Message form input[type="text"] {
    height: 150px;
    vertical-align: top;
}

.contact-content a {
    align-self: flex-end;
    padding: 10px 25px;
    background-color: #f76f53;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.contact-content a:hover {
    background-color: var(--hover-orange);
}

.contact-content a img {
    height: 14px;
    width: 14px;
    margin-left: 8px;
}

/* footer */
.footer {
    max-width: 1134px;
    margin: 0 auto;
    padding: 0 30px;
}

footer {
    margin-top: 100px;
    padding: 53px 0;
    color: #ffffff;
    margin-bottom: 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    font-family: "Bricolage Grotesque", sans-serif;
}

footer h3 {
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    font-family: "Bricolage Grotesque", sans-serif;
}

footer p {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    font-family: "Bricolage Grotesque", sans-serif;
    max-width: 589px;
}

footer ul {
    list-style: none;
    padding-left: 0px;
}

footer ul li {
    margin: 16px 0;
}

footer .contentFooter {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    margin-bottom: 0;
}

footer .alamat img {
    width: 174px;
    height: 60px;
}

footer .social {
    gap: 24px;
    margin-top: 0;
}

footer .social img {
    width: 44px;
    height: 44px;
}

footer .copyright {
    display: flex;
    align-items: center;
    gap: 10px;
}
